[MESSAGES_CONTROL]
disable=
  bad-continuation,  # conflicts with Black formatting
  line-too-long,     # conflicts with Black formatting
  duplicate-code,
  missing-docstring,
  too-few-public-methods,
  too-many-ancestors,
  too-many-locals,
  too-many-statements,
  invalid-name

[MISCELLANEOUS]
notes=FIXME,TODO
